# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.log
*.ilk
*.pdb
*.idb
*.suo
*.ipch
*.enc
/build/Visual Studio 2019/vulkan-learn-1/x64/Debug/vulkan-learn-1.tlog/unsuccessfulbuild
